force-app/main/default/flows/Account_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcom_Email</name>
        <label>Send Welcom Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Created_Checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>var_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MailBody_TextTemp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_person_account</name>
        <label>Check for person account</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Created_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Person Account</defaultConnectorLabel>
        <rules>
            <name>is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Welcom_Email</targetReference>
            </connector>
            <label>is Person Account</label>
        </rules>
    </decisions>
    <description>Flow to send welcome email</description>
    <environments>Default</environments>
    <interviewLabel>Account : Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Created_Checkbox</name>
        <label>Update Created Checkbox</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>isCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_person_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MailBody_TextTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Name},&lt;/p&gt;&lt;p&gt;Welcome! We’ve created your profile in our system, and now you can update your personal details to ensure everything is accurate.&lt;/p&gt;&lt;p&gt;Please click the link below to access your profile and update the following information:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Phone Number&lt;/strong&gt; – Enter a valid &lt;strong&gt;10-digit US/Canadian number&lt;/strong&gt;.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Date of Birth&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;T-shirt Size&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Shoe Size&lt;/strong&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;a href=&quot;https://platform-momentum-2914.my.site.com/s/detailpage?recordId={!$Record.Id}&amp;amp;name={!$Record.LastName}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Edit Link&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Make sure to complete all required fields before submitting. If you have any questions or need assistance, feel free to reach out to us.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for being a valued customer!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;ABC Fashion Co. Support Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ABC Fashion Co. : Update Your Profile Information</stringValue>
        </value>
    </variables>
</Flow>
